
  @charset "utf-8";

  a,
  a:link,
  a:visited {
    color: rgb(0, 174, 239); /* --light-blue */
  }

  a:hover,
  a:active,
  a:focus {
    color: black;
  }

  #container_header::after {
    background-image: url(../images/azusa-border.svg);
  }
  #container_home_header::after {
    background-image: url(../images/azusa-border-light.svg);
  }

  .nav_public {
    background-image: url(../images/aztec-pattern.png) !important;
    background-position: bottom !important;
    background-size: auto 1.25em !important;
    background-repeat: repeat-x !important;
    padding-bottom: 1.25em;
    border-color: rgb(0, 174, 239); /* --light-blue */
    background: rgb(0, 174, 239); /* --light-blue */
    color: white;
    color: rgba(255, 255, 255, 0.9);
  }

  .block_content_main a,
  .block_content_main a:link,
  .block_content_main a:visited {
    color: rgb(0, 174, 239); /* --light-blue */
  }

  .link_list a,
  .link_list a:link,
  .link_list a:visited,
  #nav_page .page_button a,
  #nav_page .page_button_2 a {
    color: rgb(0, 174, 239); /* --light-blue */
  }
  #page_title {
    color: rgb(0, 174, 239); /* --light-blue */
  }


  #container_home_header {
    background-image: url(../images/students.jpg) !important;
  }

  .azusa-default #container_header {
    background-image: url(../images/students.jpg) !important;
  }



  .azusa-band #container_header {
    background-image: url(../images/band.jpg) !important;
    background-position: center !important;
  }

  .azusa-singers #container_header {
    background-image: url(../images/singers-3.jpg) !important;
    background-position: center !important;
  }

  .azusa-graduates #container_header {
    background-image: url(../images/graduates.jpg) !important;
    background-position: center !important;
  }

  .azusa-athletics #container_header {
    background-image: url(../images/athletics.jpg) !important;
    background-position: center !important;
  }

  .azusa-football #container_header {
    background-image: url(../images/football.jpg) !important;
    background-position: center !important;
  }

  .azusa-academics #container_header {
    background-image: url(../images/four-students.png) !important;
    background-position: bottom !important;

    height: 55vh !important;
    min-height: 40vw;
  }

  .azusa-student-body #container_header {
    background-image: url(../images/student-body.jpg) !important;
    background-position: center !important;
  }

  .azusa-girls-golf #container_header {
    background-image: url(../images/girls-golf.jpg) !important;
    background-position: 50% 25% !important;
  }

  .azusa-college #container_header {
    background-image: url(../images/college.jpg) !important;
    background-position: center !important;

    height: 55vh !important;
    min-height: 40vw;
  }

  .azusa-rotc #container_header {
    background-image: url(../images/rotc.jpg) !important;
    background-position: 50% 25% !important;
  }

  .azusa-campus #container_header {
    background-image: url(../images/campus.jpg) !important;
    background-position: bottom !important;
  }

  .azusa-staff #container_header {
    background-image: url(../images/staff.jpg) !important;
    background-position: 50% 40% !important;
  }
